@model AcunMedyaAkademiPortfolio.Models.TblSocialMedia
@{
    ViewBag.Title = "CreateSocialMedias";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Sosyal Medyayı Kaydet</h2>
<form method="post">

    <label>Social Media URL</label>
    @Html.TextBoxFor(x => x.socialMediaUrl, new { @class = "form-control" })
    <br />
    <label>Social Media Resim URL</label>
    @Html.TextBoxFor(x => x.socialmediaImageUrl, new { @class = "form-control" })
    <br />


    <button class="btn btn-info">Sosyal Medyayı Kaydet</button>


</form>

